#header-logo {
    max-width: 400px;
}

#navbar {
    width: 100%;
}

#navbar .navbar-nav {
    width: 50%;
    font-family: 'Source Code Pro', monospace;
}

.navbar .container p {
    width: 100%;
    padding-left: 8px;
    font-family: 'Source Code Pro', monospace;
}

.nav-item {
    margin-right: auto;
}

.content {
    font-size: 18px;
}

.content .row {
    margin-top: 15px;
}

.content h2 {
    margin-top: 40px;
}

.post-divider {
    width: 80%;
    margin: 15px auto 15px auto;
}

.post-date {
    font-size: 14px;
}

.post-content {
    margin-top: 15px;
}
