#header-logo {
    max-width: 400px;
    max-height: 90px;
}

#navbar .navbar-nav {
    font-family: 'Source Code Pro', monospace;
}

.navbar .container {
    max-width: 960px;
}

.navbar .container p {
    padding-left: 8px;
    font-family: 'Source Code Pro', monospace;
}

.navbar-nav .current {
    font-weight: bold;
}

.nav-item {
    margin-right: auto;
}

.content {
    font-size: 18px;
    max-width: 960px;
}

.content .row {
    margin-top: 15px;
}

.content h2 {
    margin-top: 40px;
}

.footer .container {
    max-width: 960px;
}

.gh-logo i {
    font-size: 1.0rem !important;
}

.dot-separator {
    font-weight: 900;
}

.post-divider {
    width: 80%;
    margin: 15px auto 15px auto;
}

.post-date {
    font-size: 14px;
}

.post-content {
    margin-top: 15px;
}

.tool-logo {
    max-height: 100px;
    margin-top: 15px;
}

.h-line {
    height: 1px;
    width: 100%;
    border-top: 1px solid #80808075;
    margin: 20px 0;
}

#homeKeyVisual {
    width: 75%;
    max-width: 720px;
    margin: 0 auto;
}

.border-red {
    border-color: rgba(250, 0, 0, 0.5);
}
.border-green {
    border-color: rgba(0, 124, 0, 0.5);
}
.border-blue {
    border-color: rgba(0, 0, 252, 0.5);
}
.border-purple {
    border-color: rgba(124, 1, 124, 0.5);
}
.border-yellow {
    border-color: rgba(255, 255, 0, 0.5);
}
.border-orange {
    border-color: rgba(255, 166, 0, 0.5);
}
.border-pink {
    border-color: pink;
}
.border-teal {
    border-color: rgba(2, 139, 139, 0.5);
}
.border-lime {
    border-color: rgba(0, 252, 0, 0.5);
}

/* General carousel rules */
.carousel-control-next:hover, .carousel-control-prev:hover {
    background-color: #ffffff48;
}
.carousel-dark .carousel-control-next:hover, .carousel-dark .carousel-control-prev:hover {
    background-color: #00000048;
}

/* Specific carousel rules */

#carouselScreenshots {
    padding: 20px;
    border: 3px solid #8080804d;
    border-radius: 10px;
    max-width: 1000px;
    height: 500px;
}

#carouselScreenshots .carousel-control-prev,
#carouselScreenshots .carousel-control-next {
    width: 5%;
}

#carouselScreenshots .carousel-inner {
    height: 100%;
}

#toolsCarousel {
    max-width: 900px;
}

#toolsCarousel .card {
    margin-right: 20px;
    flex: 0 0 calc(100% / 3 - 20px) !important;
    border-width: 2px;
}

#toolsCarousel .card-img-top {
    height: 140px;
}

#toolsCarousel .card-text {
    min-height: 115px;
}

#toolsCarousel .carousel-inner {
    padding-left: 25px;
}

#toolsCarousel .carousel-control-next {
    right: -5px;
}

/* Multi-item carousel. Adapted from:
https://gist.github.com/viniciusmachado106/c1fc350ef03a14a21a45235c80da5b9f */

.multi-item-carousel .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.multi-item-carousel .carousel-inner > .carousel-item {
    flex: 0 0 33.333%;
    display: none;
    flex-wrap: nowrap;
    overflow: visible;
    transition: 500ms ease-in-out transform;
    position: relative;
}

.multi-item-carousel .carousel-inner > .carousel-item.active {
    display: flex;
}

.multi-item-carousel .carousel-inner > .carousel-item > .card {
    flex: 0 0 calc(100% / 3);
}

.multi-item-carousel .carousel-inner .carousel-item.active.carousel-item-start {
    transform: translateX(-33.333%);
}

.multi-item-carousel .carousel-inner .carousel-item.active.carousel-item-end {
    transform: translateX(33.333%);
}

.multi-item-carousel .carousel-inner .carousel-item-next,
.multi-item-carousel .carousel-inner .carousel-item-next.carousel-item-start {
    transform: translateX(33.333%);
}

.multi-item-carousel .carousel-inner .carousel-item-prev,
.multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-end {
    transform: translateX(-33.333%);
}
  