---
layout: default
---
<h2>Contact us</h2>
<div class="row">
    <span>
        Don't hesitate to <a href="mailto:info@quasi-software.org">contact us</a> for general
        questions on the project and related organisations.
    </span>
</div>

<h2>Q&A for technical questions</h2>
<div class="row">
    <span>
        Several of the developers of the various QuaSi tools are active on the
        <a href="https://forum.openmod.org/">openmod forum</a>. If you need help with using
        one of the tools, you can ask in the Q&A section of the forum and tag the post
        correspondingly. In all likelihood it won't take long for some of the developers
        to notice and reply.
    </span>
</div>

<h2>Issues, bugs and feature requests</h2>
<div class="row">
    <span>
        For bugs and specific issues you can visit the <a href="https://github.com/orgs/QuaSi-Software/repositories">
        repositories of the tools</a> and create an issue there. This is also the place to
        request that a feature you need might be added. Unfortunately we cannot guarrantee
        that it will be possible to implement, but it doesn't hurt to ask.
    </span>
</div>

<!-- Space for additional content on contact page -->
{{ content }}

<div class="row" style="margin-top: 15px">
    <!-- Spacer -->
</div>