---
layout: default
---
<h2>Contact us</h2>
<div class="row">
    <span>
        Don't hesitate to <a href="mailto:info@quasi-software.org">contact us</a>.
    </span>
</div>

<h2>Associated institutions & communities</h2>
<div class="row">
    <span>
        The following institutions and communities are currently associated with this open source project.
    </span>
</div>
<div class="row" style="padding-left: 10px">
    <img class="col" src="{{'assets/siz_energieplus_logo.jpg' | absolute_url}}" style="max-width: 250px; max-height: 50px; padding: 0; margin-top: 25px"/>
    <div class="col" style="margin-left: 40px;">
        <span class="row">
            <a href="https://siz-energieplus.de">Steinbeis-Innovationszentrum energieplus</a>
        </span>
        <span class="row" style="padding-left: 15px">
            Affiliated institute of the Technische Universität Braunschweig, Germany
        </span>
    </div>
</div>
<div class="row" style="margin-top: 15px">
    <!-- Spacer -->
</div>
<div class="row" style="padding-left: 10px">
    <img class="col" src="{{'assets/dbi_logo.png' | absolute_url}}" style="max-width: 200px; max-height: 75px; padding: 0; margin-top: 15px"/>
    <div class="col" style="margin-left: 90px;">
        <span class="row">
            <a href="https://www.digital-building-industries.com/">Digital Building Industries AG</a>
        </span>
        <span class="row" style="padding-left: 15px">
            Part of TMM GROUP, Böblingen, Germany
        </span>
    </div>
</div>
<div class="row" style="margin-top: 15px">
    <!-- Spacer -->
</div>
<div class="row" style="padding-left: 10px">
    <img class="col" src="{{'assets/maileconsulting.png' | absolute_url}}" style="max-width: 222px; max-height: 38px; padding: 0; margin-top: 30px"/>
    <div class="col" style="margin-left: 68px;">
        <span class="row" style="padding-left: 15px">
            Maile Consulting, Prof. Dr. Tobias Maile
        </span>
        <span class="row" style="padding-left: 15px">
            Modern software development in the field of energy building simulation and digital planning (BIM)
        </span>
    </div>
</div>
<div class="row" style="margin-top: 15px">
    <!-- Spacer -->
</div>

<h2>Funding</h2>
<div class="row">
    <span>
        This project is funded by the German Federal Ministry for Economic Affairs and Climate Action
        (BMWK), grant number <b>03EN3053</b>.
    </span>
    <span>
        Please visit the <a href="https://ewb.innoecos.com/Group/03EN3053verbund/Informationen">EnEff:Stadt: QuaSi_II project page</a>
        on the official funding platform for more details.
    </span>
</div>
<div class="row">
    <img class="col" src="{{'assets/funding_disclaimer.png' | absolute_url}}" style="max-width: 300px; padding: 0"/>
</div>

<div class="row" style="margin-top: 50px">
    <!-- Spacer -->
</div>

<!-- Space for additional content on contact page -->
{{ content }}