<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>QuaSi Software</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{'assets/favicon.png' | absolute_url}}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{'css/styles.css' | absolute_url}}" rel="stylesheet" />
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{'css/site_styles.css' | absolute_url}}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
            <div class="container d-inline-flex flex-column">
                <p>
                    <a href="{{'' | absolute_url}}"><img id="header-logo" src="{{'assets/logos/quasi_nobg.png' | absolute_url}}"/></a>
                </p>

                <p id="header-logo-subtitle">
                    Open Source urban simulation software
                </p>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        {% for item in site.data.navigation %}
                            {% if item.is_dropdown %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{item.name}}"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{item.name}}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{item.name}}">
                                    {% for subitem in item.items %}
                                    <li class="dropdown-item"><a href="{{subitem.link | absolute_url}}">
                                        {{subitem.display_name}}
                                    </a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item {% if page.url == item.link %}current{% endif %}">
                                <a class="nav-link" href="{{item.link | absolute_url}}">{{item.name}}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <section class="content container">
            {{ content }}
        </section>

        {% if layout.has_coop_band %}
        <section class="full-width-band dark">
            <div class="container coop-band-content">
                <div id="coop-band-header-secondary" class="row text-center text-muted">
                    <span>COOPERATION</span>
                </div>
                <div id="coop-band-header-primary" class="row text-center">
                    <span>⇆ Partners</span>
                </div>

                <div class="row">
                    <div id="coop-band-partners-column" class="col-lg-6">
                        <div class="coop-band-partner-card">
                            <img class="coop-band-partner-logo" src="{{'assets/logos/siz_energieplus.jpg' | absolute_url}}"/>
                            <div class="coop-band-partner-header">Steinbeis-Innovationszentrum energieplus</div>
                            <div class="coop-band-partner-text">
                                Develops the open-source tools GenSim, ReSiE and SoDeLe for
                                the use in publically funded research projects.
                            </div>
                            <div class="coop-band-partner-link">
                                <a href="https://siz-energieplus.de">→ siz-energieplus.de</a>
                            </div>
                        </div>

                        <div class="coop-band-partner-card">
                            <img class="coop-band-partner-logo" src="{{'assets/logos/dbi.png' | absolute_url}}"/>
                            <div class="coop-band-partner-header">Digital Building Industries AG</div>
                            <div class="coop-band-partner-text">
                                Develops, based on the open-source tools, user-friendly
                                commercial apps for planers and enegry providers.
                            </div>
                            <div class="coop-band-partner-link">
                                <a href="https://dbi-network.com">→ dbi-network.com</a>
                            </div>
                        </div>
                    </div>

                    <div id="coop-band-tools-column" class="col-lg-6">
                        <div id="coop-band-tools-header" class="text-muted">APPS OF DBI</div>

                        <div class="card coop-band-tools-card border-orange">
                            <img class="coop-band-card-logo" src="{{'assets/logos/lara.png' | absolute_url}}"/>
                            <div class="coop-band-card-subtitle text-muted">BASED ON GENSIM</div>
                            <div class="coop-band-card-header text-orange">lara</div>
                            <div class="coop-band-card-text">
                                Create demand profiles for heating, cooling and electricity
                                directly.
                            </div>
                            <div class="coop-band-card-link text-orange"><a href="#">→ Learn more</a></div>
                        </div>

                        <div class="card coop-band-tools-card border-blue">
                            <img class="coop-band-card-logo" src="{{'assets/logos/ralf.png' | absolute_url}}"/>
                            <div class="coop-band-card-subtitle text-muted">BASED ON RESIE</div>
                            <div class="coop-band-card-header text-blue">ralf</div>
                            <div class="coop-band-card-text">
                                Configure and simulate energy systems.
                            </div>
                            <div class="coop-band-card-link text-blue"><a href="#">→ Learn more</a></div>
                        </div>

                        <div class="card coop-band-tools-card border-gold">
                            <img class="coop-band-card-logo" src="{{'assets/logos/sophia.png' | absolute_url}}"/>
                            <div class="coop-band-card-subtitle text-muted">BASED ON SODELE</div>
                            <div class="coop-band-card-header text-gold">sophia</div>
                            <div class="coop-band-card-text">
                                PV-yield simulation for roof, facade and field installations.
                            </div>
                            <div class="coop-band-card-link text-gold"><a href="#">→ Learn more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!-- Footer-->
        <footer class="footer {% if layout.show_dark_footer %}bg-dark{% else %}bg-light{% endif %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 h-100 text-center my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{{'/imprint' | absolute_url}}">Imprint</a></li>
                            <li class="list-inline-item dot-separator">⋅</li>
                            <li class="list-inline-item"><a href="{{'/contact' | absolute_url}}">Contact</a></li>
                            <li class="list-inline-item dot-separator">⋅</li>
                            <li class="list-inline-item gh-logo">
                                <a href="https://github.com/QuaSi-Software/Website"><i class="bi-github fs-3"></i></a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">
                            &copy; 2026 QuaSi Software Team - See
                            <a href="https://github.com/QuaSi-Software/Website/blob/main/LICENSE.md">GitHub</a>
                            for details and license
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Custom JS-->
        <script src="{{'js/scripts.js' | absolute_url}}"></script>
    </body>
</html>