---
layout: default
---
<div class="container">
    <div class="row">
        <img src="assets/quasi_key_visual.jpg"/>
    </div>

    <div class="row" style="padding-top: 0px">
        QuaSi is an urban simulation software for modelling the energy demand and energy supply of
        buildings on city district scale. It focuses on renewable energy, sector-coupling and
        customized operational strategies.
    </div>

    <div class="row" style="margin-top: 40px">
        <img class="col" src="assets/readthedocs_logo.svg" style="max-width: 250px; padding: 0"/>
        <span class="col" style="padding-top: 15px">
            <a href="https://quasi-software.readthedocs.io">quasi-software.readthedocs.io</a>
        </span>
    </div>

    <div class="row">
        Detailed information about all the software components in our online documentation.
    </div>

    <div class="row" style="margin-top: 40px">
        <img class="col" src="assets/github_mark.png" style="max-width: 50px; max-height: 50px; margin-top: 5px; padding: 0"/>
        <img class="col" src="assets/github_logo.png" style="max-width: 160px; padding: 0"/>
        <span class="col" style="padding-top: 25px">
            <a href="https://github.com/QuaSi-Software">github.com/QuaSi-Software</a>
        </span>
    </div>

    <div class="row">
        We invite you to download the software and contribute to our development on GitHub. 
    </div>

    <div class="row" style="margin-top: 50px">
        <!-- Spacer -->
    </div>

    <!-- Space for additional content on homepage -->
    {{ content }}

</div>