---
layout: default
---
<div class="row" style="margin-top: 30px">
    <!-- Spacer -->
</div>

<h3>Newest releases</h3>
{% for item in site.categories["release"] %}
    <hr class="post-divider"/>
    <div class="post">
        <h4 class="post-title"><a href="{{item.url | absolute_url}}">{{item.title}}</a></h4>
        <div class="post-date">Published: {{item.date | date_to_long_string}}</div>
        <div class="post-content">{{item.excerpt}}</div>
        <div class="post-readmore"><a href="{{item.url | absolute_url}}">Read more</a></div>
    </div>
{% endfor %}

<div class="row" style="margin-top: 50px">
    <!-- Spacer -->
</div>